<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drcsy.am.dao.DicomMapper" >
  <resultMap id="BaseResultMap" type="com.drcsy.am.dto.Dicom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prid" property="prid" jdbcType="VARCHAR" />
    <result column="pixeldata_count" property="pixeldata_count" jdbcType="INTEGER" />
    <result column="jpg_url" property="jpg_url" jdbcType="VARCHAR" />
    <result column="dicom_url" property="dicom_url" jdbcType="VARCHAR" />
    <result column="local_str" property="local_str" jdbcType="VARCHAR" />
    <result column="modality" property="modality" jdbcType="VARCHAR" />
    <result column="image_type" property="image_type" jdbcType="VARCHAR" />
    <result column="series_instance_uid" property="series_instance_uid" jdbcType="VARCHAR" />
    <result column="sop_instance_uid" property="sop_instance_uid" jdbcType="VARCHAR" />
    <result column="dsj" property="dsj" jdbcType="TIMESTAMP" />
    <result column="institution_name" property="institution_name" jdbcType="VARCHAR" />
    <result column="study_description" property="study_description" jdbcType="VARCHAR" />
    <result column="patient_name" property="patient_name" jdbcType="VARCHAR" />
    <result column="patient_id" property="patient_id" jdbcType="VARCHAR" />
    <result column="patient_birth_date" property="patient_birth_date" jdbcType="DATE" />
    <result column="patient_sex" property="patient_sex" jdbcType="VARCHAR" />
    <result column="patient_age" property="patient_age" jdbcType="VARCHAR" />
    <result column="series_number" property="series_number" jdbcType="INTEGER" />
    <result column="iqnum" property="iqnum" jdbcType="INTEGER" />
    <result column="instance_number" property="instance_number" jdbcType="INTEGER" />
    <result column="rows" property="rows" jdbcType="INTEGER" />
    <result column="columns" property="columns" jdbcType="INTEGER" />
    <result column="pixel_spacing" property="pixel_spacing" jdbcType="VARCHAR" />
    <result column="window_center" property="window_center" jdbcType="INTEGER" />
    <result column="window_width" property="window_width" jdbcType="INTEGER" />
    <result column="image_position" property="image_position" jdbcType="VARCHAR" />
    <result column="image_orientation" property="image_orientation" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="slice_thickness_location" property="slice_thickness_location" jdbcType="VARCHAR" />
    <result column="tre" property="tre" jdbcType="VARCHAR" />
    <result column="rect" property="rect" jdbcType="VARCHAR" />
    <result column="name_first_pinyin" property="name_first_pinyin" jdbcType="VARCHAR" />
    <result column="name_quanpin" property="name_quanpin" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="pixel_data_urls" property="pixel_data_urls" jdbcType="VARCHAR" />
    <result column="belong_hospital_code" property="belong_hospital_code" jdbcType="VARCHAR" />
    <result column="nJpg_url" property="nJpg_url" jdbcType="VARCHAR" />
    <result column="ae_title" property="ae_title" jdbcType="VARCHAR" />
    <result column="network_type" property="network_type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, prid, pixeldata_count, jpg_url, dicom_url, local_str, modality, image_type, series_instance_uid, 
    sop_instance_uid, dsj, institution_name, study_description, patient_name, patient_id, 
    patient_birth_date, patient_sex, patient_age, series_number, iqnum, instance_number, 
    rows, columns, pixel_spacing, window_center, window_width, image_position, image_orientation, 
    bz, slice_thickness_location, tre, rect, name_first_pinyin, name_quanpin, create_time, 
    remark, pixel_data_urls, belong_hospital_code, nJpg_url, ae_title, network_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pis_dicom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pis_dicom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.drcsy.am.dto.Dicom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pis_dicom (prid, pixeldata_count, jpg_url, 
      dicom_url, local_str, modality, 
      image_type, series_instance_uid, sop_instance_uid, 
      dsj, institution_name, study_description, 
      patient_name, patient_id, patient_birth_date, 
      patient_sex, patient_age, series_number, 
      iqnum, instance_number, rows, 
      columns, pixel_spacing, window_center, 
      window_width, image_position, image_orientation, 
      bz, slice_thickness_location, tre, 
      rect, name_first_pinyin, name_quanpin, 
      create_time, remark, pixel_data_urls, 
      belong_hospital_code, nJpg_url, ae_title, 
      network_type)
    values (#{prid,jdbcType=VARCHAR}, #{pixeldata_count,jdbcType=INTEGER}, #{jpg_url,jdbcType=VARCHAR}, 
      #{dicom_url,jdbcType=VARCHAR}, #{local_str,jdbcType=VARCHAR}, #{modality,jdbcType=VARCHAR}, 
      #{image_type,jdbcType=VARCHAR}, #{series_instance_uid,jdbcType=VARCHAR}, #{sop_instance_uid,jdbcType=VARCHAR}, 
      #{dsj,jdbcType=TIMESTAMP}, #{institution_name,jdbcType=VARCHAR}, #{study_description,jdbcType=VARCHAR}, 
      #{patient_name,jdbcType=VARCHAR}, #{patient_id,jdbcType=VARCHAR}, #{patient_birth_date,jdbcType=DATE}, 
      #{patient_sex,jdbcType=VARCHAR}, #{patient_age,jdbcType=VARCHAR}, #{series_number,jdbcType=INTEGER}, 
      #{iqnum,jdbcType=INTEGER}, #{instance_number,jdbcType=INTEGER}, #{rows,jdbcType=INTEGER}, 
      #{columns,jdbcType=INTEGER}, #{pixel_spacing,jdbcType=VARCHAR}, #{window_center,jdbcType=INTEGER}, 
      #{window_width,jdbcType=INTEGER}, #{image_position,jdbcType=VARCHAR}, #{image_orientation,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR}, #{slice_thickness_location,jdbcType=VARCHAR}, #{tre,jdbcType=VARCHAR}, 
      #{rect,jdbcType=VARCHAR}, #{name_first_pinyin,jdbcType=VARCHAR}, #{name_quanpin,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{pixel_data_urls,jdbcType=VARCHAR}, 
      #{belong_hospital_code,jdbcType=VARCHAR}, #{nJpg_url,jdbcType=VARCHAR}, #{ae_title,jdbcType=VARCHAR}, 
      #{network_type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.drcsy.am.dto.Dicom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pis_dicom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prid != null" >
        prid,
      </if>
      <if test="pixeldata_count != null" >
        pixeldata_count,
      </if>
      <if test="jpg_url != null" >
        jpg_url,
      </if>
      <if test="dicom_url != null" >
        dicom_url,
      </if>
      <if test="local_str != null" >
        local_str,
      </if>
      <if test="modality != null" >
        modality,
      </if>
      <if test="image_type != null" >
        image_type,
      </if>
      <if test="series_instance_uid != null" >
        series_instance_uid,
      </if>
      <if test="sop_instance_uid != null" >
        sop_instance_uid,
      </if>
      <if test="dsj != null" >
        dsj,
      </if>
      <if test="institution_name != null" >
        institution_name,
      </if>
      <if test="study_description != null" >
        study_description,
      </if>
      <if test="patient_name != null" >
        patient_name,
      </if>
      <if test="patient_id != null" >
        patient_id,
      </if>
      <if test="patient_birth_date != null" >
        patient_birth_date,
      </if>
      <if test="patient_sex != null" >
        patient_sex,
      </if>
      <if test="patient_age != null" >
        patient_age,
      </if>
      <if test="series_number != null" >
        series_number,
      </if>
      <if test="iqnum != null" >
        iqnum,
      </if>
      <if test="instance_number != null" >
        instance_number,
      </if>
      <if test="rows != null" >
        rows,
      </if>
      <if test="columns != null" >
        columns,
      </if>
      <if test="pixel_spacing != null" >
        pixel_spacing,
      </if>
      <if test="window_center != null" >
        window_center,
      </if>
      <if test="window_width != null" >
        window_width,
      </if>
      <if test="image_position != null" >
        image_position,
      </if>
      <if test="image_orientation != null" >
        image_orientation,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="slice_thickness_location != null" >
        slice_thickness_location,
      </if>
      <if test="tre != null" >
        tre,
      </if>
      <if test="rect != null" >
        rect,
      </if>
      <if test="name_first_pinyin != null" >
        name_first_pinyin,
      </if>
      <if test="name_quanpin != null" >
        name_quanpin,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="pixel_data_urls != null" >
        pixel_data_urls,
      </if>
      <if test="belong_hospital_code != null" >
        belong_hospital_code,
      </if>
      <if test="nJpg_url != null" >
        nJpg_url,
      </if>
      <if test="ae_title != null" >
        ae_title,
      </if>
      <if test="network_type != null" >
        network_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prid != null" >
        #{prid,jdbcType=VARCHAR},
      </if>
      <if test="pixeldata_count != null" >
        #{pixeldata_count,jdbcType=INTEGER},
      </if>
      <if test="jpg_url != null" >
        #{jpg_url,jdbcType=VARCHAR},
      </if>
      <if test="dicom_url != null" >
        #{dicom_url,jdbcType=VARCHAR},
      </if>
      <if test="local_str != null" >
        #{local_str,jdbcType=VARCHAR},
      </if>
      <if test="modality != null" >
        #{modality,jdbcType=VARCHAR},
      </if>
      <if test="image_type != null" >
        #{image_type,jdbcType=VARCHAR},
      </if>
      <if test="series_instance_uid != null" >
        #{series_instance_uid,jdbcType=VARCHAR},
      </if>
      <if test="sop_instance_uid != null" >
        #{sop_instance_uid,jdbcType=VARCHAR},
      </if>
      <if test="dsj != null" >
        #{dsj,jdbcType=TIMESTAMP},
      </if>
      <if test="institution_name != null" >
        #{institution_name,jdbcType=VARCHAR},
      </if>
      <if test="study_description != null" >
        #{study_description,jdbcType=VARCHAR},
      </if>
      <if test="patient_name != null" >
        #{patient_name,jdbcType=VARCHAR},
      </if>
      <if test="patient_id != null" >
        #{patient_id,jdbcType=VARCHAR},
      </if>
      <if test="patient_birth_date != null" >
        #{patient_birth_date,jdbcType=DATE},
      </if>
      <if test="patient_sex != null" >
        #{patient_sex,jdbcType=VARCHAR},
      </if>
      <if test="patient_age != null" >
        #{patient_age,jdbcType=VARCHAR},
      </if>
      <if test="series_number != null" >
        #{series_number,jdbcType=INTEGER},
      </if>
      <if test="iqnum != null" >
        #{iqnum,jdbcType=INTEGER},
      </if>
      <if test="instance_number != null" >
        #{instance_number,jdbcType=INTEGER},
      </if>
      <if test="rows != null" >
        #{rows,jdbcType=INTEGER},
      </if>
      <if test="columns != null" >
        #{columns,jdbcType=INTEGER},
      </if>
      <if test="pixel_spacing != null" >
        #{pixel_spacing,jdbcType=VARCHAR},
      </if>
      <if test="window_center != null" >
        #{window_center,jdbcType=INTEGER},
      </if>
      <if test="window_width != null" >
        #{window_width,jdbcType=INTEGER},
      </if>
      <if test="image_position != null" >
        #{image_position,jdbcType=VARCHAR},
      </if>
      <if test="image_orientation != null" >
        #{image_orientation,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="slice_thickness_location != null" >
        #{slice_thickness_location,jdbcType=VARCHAR},
      </if>
      <if test="tre != null" >
        #{tre,jdbcType=VARCHAR},
      </if>
      <if test="rect != null" >
        #{rect,jdbcType=VARCHAR},
      </if>
      <if test="name_first_pinyin != null" >
        #{name_first_pinyin,jdbcType=VARCHAR},
      </if>
      <if test="name_quanpin != null" >
        #{name_quanpin,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pixel_data_urls != null" >
        #{pixel_data_urls,jdbcType=VARCHAR},
      </if>
      <if test="belong_hospital_code != null" >
        #{belong_hospital_code,jdbcType=VARCHAR},
      </if>
      <if test="nJpg_url != null" >
        #{nJpg_url,jdbcType=VARCHAR},
      </if>
      <if test="ae_title != null" >
        #{ae_title,jdbcType=VARCHAR},
      </if>
      <if test="network_type != null" >
        #{network_type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.drcsy.am.dto.Dicom" >
    update pis_dicom
    <set >
      <if test="prid != null" >
        prid = #{prid,jdbcType=VARCHAR},
      </if>
      <if test="pixeldata_count != null" >
        pixeldata_count = #{pixeldata_count,jdbcType=INTEGER},
      </if>
      <if test="jpg_url != null" >
        jpg_url = #{jpg_url,jdbcType=VARCHAR},
      </if>
      <if test="dicom_url != null" >
        dicom_url = #{dicom_url,jdbcType=VARCHAR},
      </if>
      <if test="local_str != null" >
        local_str = #{local_str,jdbcType=VARCHAR},
      </if>
      <if test="modality != null" >
        modality = #{modality,jdbcType=VARCHAR},
      </if>
      <if test="image_type != null" >
        image_type = #{image_type,jdbcType=VARCHAR},
      </if>
      <if test="series_instance_uid != null" >
        series_instance_uid = #{series_instance_uid,jdbcType=VARCHAR},
      </if>
      <if test="sop_instance_uid != null" >
        sop_instance_uid = #{sop_instance_uid,jdbcType=VARCHAR},
      </if>
      <if test="dsj != null" >
        dsj = #{dsj,jdbcType=TIMESTAMP},
      </if>
      <if test="institution_name != null" >
        institution_name = #{institution_name,jdbcType=VARCHAR},
      </if>
      <if test="study_description != null" >
        study_description = #{study_description,jdbcType=VARCHAR},
      </if>
      <if test="patient_name != null" >
        patient_name = #{patient_name,jdbcType=VARCHAR},
      </if>
      <if test="patient_id != null" >
        patient_id = #{patient_id,jdbcType=VARCHAR},
      </if>
      <if test="patient_birth_date != null" >
        patient_birth_date = #{patient_birth_date,jdbcType=DATE},
      </if>
      <if test="patient_sex != null" >
        patient_sex = #{patient_sex,jdbcType=VARCHAR},
      </if>
      <if test="patient_age != null" >
        patient_age = #{patient_age,jdbcType=VARCHAR},
      </if>
      <if test="series_number != null" >
        series_number = #{series_number,jdbcType=INTEGER},
      </if>
      <if test="iqnum != null" >
        iqnum = #{iqnum,jdbcType=INTEGER},
      </if>
      <if test="instance_number != null" >
        instance_number = #{instance_number,jdbcType=INTEGER},
      </if>
      <if test="rows != null" >
        rows = #{rows,jdbcType=INTEGER},
      </if>
      <if test="columns != null" >
        columns = #{columns,jdbcType=INTEGER},
      </if>
      <if test="pixel_spacing != null" >
        pixel_spacing = #{pixel_spacing,jdbcType=VARCHAR},
      </if>
      <if test="window_center != null" >
        window_center = #{window_center,jdbcType=INTEGER},
      </if>
      <if test="window_width != null" >
        window_width = #{window_width,jdbcType=INTEGER},
      </if>
      <if test="image_position != null" >
        image_position = #{image_position,jdbcType=VARCHAR},
      </if>
      <if test="image_orientation != null" >
        image_orientation = #{image_orientation,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="slice_thickness_location != null" >
        slice_thickness_location = #{slice_thickness_location,jdbcType=VARCHAR},
      </if>
      <if test="tre != null" >
        tre = #{tre,jdbcType=VARCHAR},
      </if>
      <if test="rect != null" >
        rect = #{rect,jdbcType=VARCHAR},
      </if>
      <if test="name_first_pinyin != null" >
        name_first_pinyin = #{name_first_pinyin,jdbcType=VARCHAR},
      </if>
      <if test="name_quanpin != null" >
        name_quanpin = #{name_quanpin,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pixel_data_urls != null" >
        pixel_data_urls = #{pixel_data_urls,jdbcType=VARCHAR},
      </if>
      <if test="belong_hospital_code != null" >
        belong_hospital_code = #{belong_hospital_code,jdbcType=VARCHAR},
      </if>
      <if test="nJpg_url != null" >
        nJpg_url = #{nJpg_url,jdbcType=VARCHAR},
      </if>
      <if test="ae_title != null" >
        ae_title = #{ae_title,jdbcType=VARCHAR},
      </if>
      <if test="network_type != null" >
        network_type = #{network_type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.drcsy.am.dto.Dicom" >
    update pis_dicom
    set prid = #{prid,jdbcType=VARCHAR},
      pixeldata_count = #{pixeldata_count,jdbcType=INTEGER},
      jpg_url = #{jpg_url,jdbcType=VARCHAR},
      dicom_url = #{dicom_url,jdbcType=VARCHAR},
      local_str = #{local_str,jdbcType=VARCHAR},
      modality = #{modality,jdbcType=VARCHAR},
      image_type = #{image_type,jdbcType=VARCHAR},
      series_instance_uid = #{series_instance_uid,jdbcType=VARCHAR},
      sop_instance_uid = #{sop_instance_uid,jdbcType=VARCHAR},
      dsj = #{dsj,jdbcType=TIMESTAMP},
      institution_name = #{institution_name,jdbcType=VARCHAR},
      study_description = #{study_description,jdbcType=VARCHAR},
      patient_name = #{patient_name,jdbcType=VARCHAR},
      patient_id = #{patient_id,jdbcType=VARCHAR},
      patient_birth_date = #{patient_birth_date,jdbcType=DATE},
      patient_sex = #{patient_sex,jdbcType=VARCHAR},
      patient_age = #{patient_age,jdbcType=VARCHAR},
      series_number = #{series_number,jdbcType=INTEGER},
      iqnum = #{iqnum,jdbcType=INTEGER},
      instance_number = #{instance_number,jdbcType=INTEGER},
      rows = #{rows,jdbcType=INTEGER},
      columns = #{columns,jdbcType=INTEGER},
      pixel_spacing = #{pixel_spacing,jdbcType=VARCHAR},
      window_center = #{window_center,jdbcType=INTEGER},
      window_width = #{window_width,jdbcType=INTEGER},
      image_position = #{image_position,jdbcType=VARCHAR},
      image_orientation = #{image_orientation,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      slice_thickness_location = #{slice_thickness_location,jdbcType=VARCHAR},
      tre = #{tre,jdbcType=VARCHAR},
      rect = #{rect,jdbcType=VARCHAR},
      name_first_pinyin = #{name_first_pinyin,jdbcType=VARCHAR},
      name_quanpin = #{name_quanpin,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      pixel_data_urls = #{pixel_data_urls,jdbcType=VARCHAR},
      belong_hospital_code = #{belong_hospital_code,jdbcType=VARCHAR},
      nJpg_url = #{nJpg_url,jdbcType=VARCHAR},
      ae_title = #{ae_title,jdbcType=VARCHAR},
      network_type = #{network_type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>